@layer tailwind-base, antd;
@tailwind components;
@tailwind utilities;
@import './reset.scss';

/* overWrite tailwindcss base style */
@layer tailwind-base {
  @tailwind base;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/web-points/fonts/DMSans.ttf');
}

body {
  background-color: var(--front-ground);
  font-family: var(--font-bai-jamjuree-regular);
  overflow-x: hidden;
  min-width: 375px;
}

h1 {
  @apply pc:text-[56px] pc:leading-[72px]  mobile:text-[40px] mobile:leading-[52px];
}

h2 {
  @apply pc:text-[48px] pc:leading-[64px]  mobile:text-[32px] mobile:leading-[44px];
}

h3 {
  @apply text-[36px] leading-[48px] mobile:text-[28px] mobile:leading-[36px];
}

.common-hover-transition {
  @apply transition duration-100 hover:opacity-[0.8];
}
.gradient-border {
  border-color: transparent;
  border-style: solid;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #222, #222),
    linear-gradient(90deg, #c20ed7, #292fe1);
}
