@layer tailwind-base, antd;
@tailwind components;
@tailwind utilities;
@import './reset.scss';

/* overWrite tailwindcss base style */
@layer tailwind-base {
  @tailwind base;
}

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('/web-points/fonts/ChakraPetch/ChakraPetch-Bold.ttf');
}
@font-face {
  font-family: 'Chakra Petch Light';
  src: url('/web-points/fonts/ChakraPetch/ChakraPetch-Light.ttf');
}
@font-face {
  font-family: 'Chakra Petch Medium';
  src: url('/web-points/fonts/ChakraPetch/ChakraPetch-Medium.ttf');
}
@font-face {
  font-family: 'Chakra Petch Regular';
  src: url('/web-points/fonts/ChakraPetch/ChakraPetch-Regular.ttf');
}
@font-face {
  font-family: 'Chakra Petch SemiBold';
  src: url('/web-points/fonts/ChakraPetch/ChakraPetch-SemiBold.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree Bold';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-Bold.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree ExtraLight';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-ExtraLight.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree Light';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-Light.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree Medium';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-Medium.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree Regular';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-Regular.ttf');
}

@font-face {
  font-family: 'Bai Jamjuree Semibold';
  src: url('/web-points/fonts/BaiJamjuree/BaiJamjuree-SemiBold.ttf');
}

body {
  background-color: var(--front-ground);
  font-family: var(--font-bai-jamjuree-regular);
  overflow-x: hidden;
  min-width: 375px;
}

h1 {
  @apply font-chakra pc:text-[56px] pc:leading-[72px] atPad:text-[48px] atPad:leading-[64px] atPhone:text-[40px] atPhone:leading-[52px];
}

h2 {
  @apply font-chakra pc:text-[48px] pc:leading-[64px] atPad:text-[40px] atPad:leading-[52px] atPhone:text-[32px] atPhone:leading-[44px];
}

h3 {
  @apply font-chakra text-[36px] leading-[48px] atPhone:text-[28px] atPhone:leading-[36px];
}

.common-hover-transition {
  @apply transition duration-100 hover:opacity-[0.8];
}
