.ant-btn {
  &.ant-btn-primary:not(.ant-btn-background-ghost) {
    @apply border-0;
  }
  &:not(.ant-btn-lg) {
    @apply px-[24px] py-[8px] leading-[18px] h-[40px];
  }
}
/* 自定义分页组件的颜色 */
.ant-pagination-item-active {
  border-color: #262626; /* 激活状态的边框颜色 */
}
.ant-pagination-item-active a {
  color: #ffffff; /* 激活状态的文本颜色 */
  border-color: #262626; /* 激活状态的边框颜色 */
}

.ant-pagination-item a {
  border-color: #262626; /* 默认状态的边框颜色 */
}

.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-item:hover a {
  border-color: #262626; /* 悬浮状态的边框颜色 */
}

/* 覆盖 Input 边框颜色 */
.ant-input-outlined {
  background: #454549;
  border: none;
}

/* 覆盖 Input 获得焦点时的边框颜色 */
.ant-input-outlined:focus {
  border-color: #454549; /* 你希望的聚焦颜色 */
  box-shadow: none;
}

/* 覆盖 Input 禁用状态的边框颜色 */
.ant-input-outlined[disabled] {
  border-color: #8a8b8d; /* 你希望的禁用颜色 */
}

/* 覆盖 Input 状态为 hover 时的边框颜色 */
.ant-input-outlined:hover {
  border-color: #454549; /* 你希望的 hover 颜色 */
}

.ant-select {
  /* 覆盖Select选择器的基本样式 */
  .ant-select-selector {
    background-color: #454549;
    border: none;
    border-radius: 6px;
  }

  /* 覆盖Select选择器的聚焦样式 */
  .ant-select-focused .ant-select-selection,
  .ant-select-selection:focus,
  .ant-select-selection:active {
    border: none; /* 聚焦时的边框颜色 */
    box-shadow: none; /* 聚焦时的阴影效果 */
  }

  /* 覆盖Select下拉菜单的样式 */
  .ant-select-dropdown {
    background-color: #454549; /* 设置下拉菜单的背景颜色 */
    border-color: #454549; /* 设置下拉菜单的边框颜色 */
    border-radius: 12px; /* 重置下拉菜单的边框圆角 */
    box-shadow: none; /* 移除下拉菜单的阴影 */
  }
  .ant-select-dropdown {
    background-color: #fff; /* 背景色 */
  }
  .ant-select-dropdown-menu-item:hover {
    background-color: rgba(132, 63, 255, 0.4); /* 鼠标悬停效果 */
  }

  /* 覆盖下拉菜单中的选项样式 */
  .ant-select-dropdown-menu-item {
    color: #fff; /* 设置选项文本颜色 */
  }

  /* 覆盖选中的下拉菜单选项样式 */
  .ant-select-dropdown-menu-item-selected {
    background-color: #e6f7ff;
  }

  /* 覆盖Select组件禁用状态的样式 */
  /* .ant-select-disabled {
  background-color: #f5f5f5; 
  border-color: #d9d9d9; 
  color: #ccc; 
} */
}
