.header-popover {
  :global {
    .ant-popover-content {
      width: 204px;
      .ant-popover-inner {
        background: var(--dialog);
        padding: 16px 20px;
        border-radius: 12px;
        max-width: 375px;
      }
    }
  }
}
